altair
attrs
blinker
Bottleneck
Brotli
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mkl_fft
mkl_random
mkl-service
numexpr
numpy
packaging
pandas
pillow
pip
ply
protobuf=4.25.3
pyarrow
pydeck
pyparsing
PyQt5
PyQt5_sip
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
scipy
seaborn
setuptools
sip
six
smmap
streamlit
tabulate
tenacity
toml
tomli
toolz
tornado
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
wheel
-e .
